:root {
    font-size: 16;
    font-family: "Raleway";
  }

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

.splash {
  background-image: url("images/splashPage.jpeg");
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

div.leftNav {
  margin-left: 20px;
  margin-top: 3vh;
}

div.rightNav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  font-family: "Raleway"; /* Change font */
  font-size: 3vh;
}

.logo-font {
  font-family: "Great Vibes";
  font-display: optional;
  font-size: 10vh;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  font-family: "Raleway", sans-serif; /* Change font */
  font-size: 2em;
  text-align: center;
}

div.services h3 {
  font-family: "Raleway", sans-serif; /* Change font */
  font-size: 1.5em;
  /* font-weight: bold; */
  text-align: center;
}

div.services p {
    font-size: 1em;
}

div.services div{
    padding-bottom: 1em;
}

#services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#services-grid img {
  height: 65%;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#gallery-grid img:nth-child(4) {
  grid-column: span 3;
}

@media screen and (min-width: 501px) {
    div.hamburger{
      display: none;
    }
}

@media screen and (max-width: 500px) {
  div.desktop-nav {
    display: none;
  }
  .logo-font {
    font-size: 5vh;
  }
  p {
      font-size: 0.5em;
      text-align: center;
  }

  h2{
      font-size: 1em;
  }

  div.services h3 {
    font-size: 0.8em;
  }

  div.services p {
    font-size: 0.5em;
  }
}

.hamburger {
  position: relative;
  display: inline-block;
}

.hamburger-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}

.hamburger:hover .hamburger-content {
  display: block;
  font-size: 5vw;
  /* animation: popup .5s ease-in-out both; */
}

.hamburger span {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  display: block;
  color: white;
  /* transform: rotate(90deg); */
}

.hamburger:hover span {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  display: inline-block;
  transform: rotate(180deg);
}

footer {
    font-size: 0.8em;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 50px;

}

footer a:link{
    color: black;
}


